
#dialogue-box-container{
  position:absolute;
  bottom: -180px;
  height: 25%;
  width: 100%;
  transition: all .2s;
  &:hover,&.active{
    bottom: 0;
  }
}
#dialogue-box{
  width: 100%;
  height: 100%;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 60px;
  padding-left: 60px;
  background-image: url('../assets/img/2-layers.png');
}
#dialogue-console{
  position: relative;
  left: 320px;
  top: 10px;

  height: 55%;
  width: 60%;

  border-left: 2px solid #3e4f5c;
  border-right: 2px solid #3e4f5c;
  background-color: rgba(39,50,59,0.8);
  span{
    color: #bae4d6;
	  font-size: 33px;
    animation: blink  1.5s  linear infinite;
  }
}
