.dialogue-box-components{
    background-color: rgba(73, 93, 110, 0.6);
}
.dialogue-box-side{
  position:absolute;
  bottom: 0;
  width: 340px;
  height: 180px;
}
#dialogue-box-container{
  position:absolute;
  bottom: -180px;
  height: 25%;
  width: 100%;
  transition: all .2s;
  &:hover,&.active{
    bottom: 0;
  }
}
#dialogue-box-left{
  left: 0;
}
#dialogue-box-right{
  right: 0;
}
#dialogue-box{
  height: 150px;
  margin:0 340px;
  padding-top: 60px;
  padding-bottom: 50px;
  padding-right: 60px;
  padding-left: 60px;
  -webkit-clip-path:polygon(0 23%, 5% 0, 95% 0, 100% 23%, 100% 100%, 0% 100%);
  clip-path: polygon(0 23%, 5% 0, 95% 0, 100% 23%, 100% 100%, 0% 100%);
}
#dialogue-console{
  height: 100%;
  width: 100%;
  border-left: 2px solid #3e4f5c;
  border-right: 2px solid  #3e4f5c;
  background-color: rgba(39, 50, 59,0.8);
}
