@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,200,300,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic);
@font-face {
    font-family: Gotham;
    src: url('../fonts/GothamBoldRegular.ttf');
}
html,
body,
main{
  cursor: none;
  overflow: hidden;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
p{
  color: rgb(207, 225, 232);
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}
.title{
  color: rgb(245, 248, 249);
  font-family: Gotham;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
}
