.light{
  position: absolute;
  border-radius: 70px;
  width: 24px;
  height: 24px;
  background-color: #1a58e0;
  box-shadow: 0 0 20px #1a58e0;
  transition: all .5s;
  &:hover,&.active{
    background-color: #2faafc;
    box-shadow: 0 0 20px #2faafc;
  }
  &.analize{
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
  }
  &.analised{
    background-color: #ef2c0f;
    box-shadow: 0 0 20px #ef2c0f;
  }
}
#viseur{
  transform-origin: center;
  position: absolute;
  top:0;
  left:0;

  svg{
    width: 132px;
    height: 128px;
  }
  .cls-1 {
    fill: #fb664e;
    opacity: 0.2;
  }
  .cls-2 {
    fill: #d52104;
  }

  #inner-circle{
      transform-origin: center;
      animation: viseurtrigo 3s linear infinite;
      &.active{
        animation: viseurhoraire  .5s  linear infinite;
      }
  }
  #outter-circle{
    z-index: 20;
      transform-origin: 51% 55%;
      animation: viseurhoraire  4s  linear infinite;
      &.active{
        animation: viseurtrigo  1s  linear infinite;
      }
  }

}
#popin-tuto{
  opacity: 0;
  position: absolute;
  width: 360px;
  height: 140px;
  transition: opacity .5s;
  &.active{
    opacity: 1;
  }

  #line{
    position: relative;
    top: 120px;
    left: -100px;
  }
  #popin{
    #content{
      padding-left: 21px;
      padding-top: 22px;
      padding-bottom: 33px;
      padding-right: 43px;
      position: relative;
      width: 250px;
      height: 80px;
      background-image: url('../assets/img/fond---popin.svg');
      background-size: 100% 100%;
      background-repeat: no-repeat;
    }
  }
}
#map{
  height: 100%;
  width: 100%;
  background: url('../assets/img/map.png');
  background-size: 111% 100%;
  background-position: bottom;
}
#light-1{
  left:160px;
  top:140px;
}
#light-2{

  left:1790px;
  top:170px;
}
#light-3{
  left:690px;
  top: 400px;
}
#light-4{
  left:930px;
  top:660px;
}
#light-5{
  left:1280px;
  top:40px;
}
#light-6{
  left:1450px;
  top:680px;
}
