.light{
  position: absolute;
  border-radius: 70px;
  width: 24px;
  height: 24px;
  background-color: #1a58e0;
  box-shadow: 0 0 20px #1a58e0;
  transition: all .5s;
  &:hover,&.active{
    background-color: #2faafc;
    box-shadow: 0 0 20px #2faafc;
  }
}
#viseur{
  transform-origin: center;
  position: absolute;
  top:0;
  left:0;
  svg{
    width: 132px;
    height: 128px;
  }
  .cls-1 {
    fill: #fb664e;
    opacity: 0.2;
  }
  .cls-2 {
    fill: #d52104;
  }
  .inner-circle{
      transform-origin: center;
      animation: viseurtrigo 3s linear infinite;
  }
  .outter-circle{
    z-index: 20;
      transform-origin: 51% 55%;
      animation: viseurhoraire  4s  linear infinite;
  }

}
#popin-tuto{
  position: absolute;
  width: 360px;
  height: 140px;
  #popin{
    #title{
      color: rgb(245, 248, 249);
      font-family: Gotham;
      font-size: 15px;
      font-weight: 400;
      text-transform: uppercase;
    }
    #content{
      padding-left: 21px;
      padding-top: 22px;
      padding-bottom: 33px;
      /* Style for "fond - pop" */
      width: 250px;
      height: 70px;
      -webkit-clip-path: polygon(81% 0, 100% 16%, 100% 100%, 0% 100%, 0% 0%);
      clip-path: polygon(81% 0, 100% 16%, 100% 100%, 0% 100%, 0% 0%);
      border: 2px solid rgba(131, 165, 196, 0.4);
      background-color: rgba(39,49,57,0.5);
      p{
        color: rgb(207, 225, 232);
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 14px;
        font-weight: 300;
        line-height: 24px;
      }
    }
  }
}
#map{
  height: 100%;
  width: 100%;
  background: url('../assets/img/map.png');
  background-size: 111% 100%;
  background-position: bottom;
}
#light-1{
  left:160px;
  top:140px;
}
#light-2{

  left:1790px;
  top:170px;
}
#light-3{
  left:690px;
  top: 400px;
}
#light-4{
  left:930px;
  top:660px;
}
#light-5{
  left:1280px;
  top:40px;
}
#light-6{
  left:1450px;
  top:680px;
}
